* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;   
    background-color:rgb(161, 161, 161);
    color: #1e2227;
}

.library-container {
    background-color:#1e2227;
    min-height: 85vh;
    height:100%;
    width:100%;
}


.library {
    color:white;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px;
    
}

.book {
    background-color:#2d462e;
    border: 1px solid black;
    padding: 10px ;
    margin: 10px;
    height:250px;
    width:200px;
}

.book-unread {
    background-color:#2d2e46;
    
}

.modal {
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    display: none;
    position: fixed;   
    left: 0;
    padding-top: 100px; /* Location of the box */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1;
}

.modal-content {    
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.modal-content section * {
    margin:5px;
    display: block;
}

.add-book {
    margin-bottom: 20px;
}


.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #07092c;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(196, 196, 196);

  }
  
  input:checked + .slider {
    background-color: rgb(0, 58, 18);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  .error.mandatory-form {
      color:red;
      font-weight: bold;
  }